// Partsが使えない現状において、消えゆく運命のdeepを使用
.card ::ng-deep .card {
  margin: 20px 15px 0;
}

// 見た目は共通なので、使い回せないか?
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
  }

  .date {
    color: #03A9F4;
    font-weight: bold;
  }
}

.body {
  margin-top: 2rem;

  .excerpt {
    color: #666;
    overflow: hidden;
    max-height: 4rem;
  }
}

.footer {
  margin-top: 1rem;
  text-align: right;
}
