@import '../../../color-thema.scss';

.container {
  display: flex;
  word-wrap: break-word;
}

.side {
  width: 200px;
  background-color: $paple;
  text-align: center;
}

.main {
  flex: 1;
  min-width: 0;
  background-color: #ddd;
}

.ly_box {
  height: 100vh;
}

.appName {
  font-size: 1.5rem;
  color: $white;
  font-weight: bold;
  padding-top: 30px;
}

.new-button {
  margin-top: 30px;
}
