@import '../../../../../../color-thema.scss';

.operations {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;
}

.card::part(card) {
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
  }

  .date {
    color: #03A9F4;
    font-weight: bold;
  }
}

.body {
  margin-top: 2rem;
  color: #666;
}
